@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>Feed Reader</h3>
<ol class="round">
    <li class="one">
        <h5>Walters on Hillary, Oprah farewell: 'I'm so moved'</h5> 
        Of course Barbara Walters, on her last official day on television, would draw the most powerful women in broadcasting to her set.
         But she also drew two of the most powerful women in the world: Hillary Clinton and Oprah Winfrey surprised the TV pioneer on ...
        <a href="http://www.usatoday.com/story/life/people/2014/05/16/barbara-walters-the-view-last-day-recap/9174847/">Read more...</a>
    </li>

    <li class="two">
        <h5>Video: Choose sides in this interactive trailer for next-gen game Evolve</h5>
        Evolve is shaping up to be the most captivating cooperative game of the new generation of consoles. Announced earlier this year, 
        Evolve is a successor of sorts to Turtle Rock Studios’ last major project, Left 4 Dead. As in Left 4 Dead, players in Evolve will 
        team up to fight a terrifying threat, but this time the threat is much larger than a zombie. Evolve pits a team of four humans players
         (Hunters) against a single, gigantic monster (Goliath).
        <a href="http://bgr.com/2014/04/24/evolve-xbox-one-ps4-interactive-trailer/">Read more...</a>
    </li>

    <li class="three">
        <h5>Pay Just Pennies For Brand-New Products</h5>
        While every online shop tries to offer thrilling deals that will save you money, very few can actually make good on their claims, 
        and even fewer can guarantee that you'll have fun doing it.
        <a href="http://lifefactopia.com/shopping/Pay_Just_Pennies_For_Brand_New_Products/?mb=taf&sub=us-abip-fip2&aid=abip-fip2-us&&sub=pmc-bgr">Read more…</a>
    </li>

    <li class="four">
        <h5>Galaxy S5 ‘killer’ confirmed to launch next month</h5>
        LG on Tuesday confirmed the name of its next Android flagship device, the LG G3, in a press release announcing the company’s 
        “improved first-quarter 2014 results.” The LG G3, expected to be one of the main Galaxy S5 rivals this year... 
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Read more…</a>
    </li>

    <li class="five">
        <h5>Which Lightbulbs Save the Most Money?</h5>
        With high energy costs driving up electricity bills and an ever-widening array of lighting choices available at the local hardware 
        store, it can be hard to pick the best -- and cheapest -- lighting option. In today's Savings Experiment, we'll explore the available 
        lighting choices and pick the one that's best for you.
        <a href="http://www.dailyfinance.com/2010/05/11/savings-experiment-which-lightbulbs-save-the-most-money/?ncid=txtlnkusaolp00000473">Read more…</a>
    </li>

    <li class="six">
        <h5>Safely Clean Your Monitors, TV & Touchscreen Displays</h5>
        Are your devices covered in dust, fingerprints, and smudges? It’s tempting to spray and wipe them down during your next cleaning sprint. 
        Hold on! You may accidentally scratch your LCD, damage your touchscreen, or cause a short circuit. So what’s the proper way to clean a dirty 
        screen? The advice you find when turning to manufacturers for cleaning instructions is littered with warnings, and worse, some 
        recommendations may even be conflicting. We shall focus on what you should do and why.
        <a href="http://www.makeuseof.com/tag/safely-clean-your-monitors-tv-touchscreen-displays/">Read more…</a>
    </li>

    <li class="seven">
        <h5>18 Restaurant Secrets From Cities Around the U.S.</h5>
        Whether it's off-the-menu items, hidden entrances or tricks for getting a table at your town's hippest hot spot, secrets abound in the 
        restaurant and cocktail world. This week we're sharing some of our best-kept secrets with you, spanning 10 major U.S. cities. Keep these 
        in your back pocket for fall travel.
        <a href="http://www.zagat.com/b/restaurant-secrets-from-around-the-u.s?utm_source=taboola&utm_medium=cpc&utm_campaign=desktoptopperformers">Read more…</a>
    </li>

    <li class="eight">
        <h5>How to Reduce, Prevent, and Cope with Stress</h5>
        It may seem that there’s nothing you can do about stress. The bills won’t stop coming, there will never be more hours in the day, and your 
        career and family responsibilities will always be demanding. But you have more control than you might think.
        <a href="http://www.helpguide.org/mental/stress_management_relief_coping.htm">Read more…</a>
    </li>

    <li class="nine">
        <h5>Johnny Manziel texted 'hurry up and draft me' to Cleveland Browns</h5>
        Proving once and for all that the Cleveland Browns’ actual draft day was far more interesting than the Cleveland Browns’ fictional Draft 
        Day, the team’s quarterback coach said Johnny Manziel was texting him during his first-round free fall and advocating for his own selection.
        <a href="http://ftw.usatoday.com/2014/05/johnny-manziel-texted-cleveland-browns-hurry-up-draft-me">Read more…</a>
    </li>
</ol>
